[submodule "real-estate-price-suggestion-frontend"]
	path = real-estate-price-suggestion-frontend
	url = https://github.com/ByronCaices/real-estate-price-suggestion-frontend
[submodule "real-estate-price-suggestion-frontend"]
	path = real-estate-price-suggestion-frontend
	url = https://github.com/ByronCaices/real-estate-price-suggestion-frontend
